<form action="/users/signin" method="post">
  <label>Username:</label><input type="text" name="username" placeholder=<%= @username %>>
  <br>
  <label>Password:</label><input type="text" name="password" placeholder=<%= @password %>>
  <br>
  <input type="submit" value="Sign In">
</form>