<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @query %>
  <% results = search_results(@chapters, @query) %>
  <% if results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %> 
    <h2 class="content-subhead">Results for <%= "\'#{@query}\'" %></h2>
    <% results.each do |title, matches| %>
      <p><%= title %></p>
      <%= matches.join %>
    <% end %>
  <% end %>
<% end %>
