<html>
 <head>
  <meta charset="utf-8">
  <title>Directory Index</title>
 </head>

 <body>
  <h1>Directory Index</h1>
  <a href="http://localhost:4567/?order=descending">Sort Descending</a>
  <a href="http://localhost:4567/">Sort Ascending</a>
  <ul>
    <% @index.each do |file| %>
      <li>
        <a href="<%= file %>"><%= file %></a>
      </li>
    <% end %>
  </ul>
 </body>

</html>
